blinker==1.7.0
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
gunicorn==21.2.0
itsdangerous==2.2.0
python-dotenv==1.0.1
pymysql==1.1.0
Flask-SQLAlchemy>=3.1.1
SQLAlchemy>=2.0.32
pandas
tensorflow-cpu
scikit-learn